body {
    font-family: Raleway, sans-serif;
}

/* --- */
.fixed_header {
    background-color: #f4f4f4;
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10;
    padding: 5px 20px;
}

.maintext {
    position: relative;
    top: 40px;
}


/* --- */
a {
    text-decoration: none;
    color: #81c79b;
}
a:hover {
    text-decoration: none;
    color: #30a6e5;
}

/* --- */
div.name-area .name {
    font-weight: 500;
    font-size: 125%;
}
div.name-area .title {
    font-weight: 500;
    font-size: 110%;
}

div.phone-area {
    text-align: right;
}

/* --- */
div.section {
    margin-top: 18px;
}

.header {
    width: 100%;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #606060;
}
h1.header {
    padding: 4px 0px 4px 20px;
    font-size: 1.3rem;
}
.main-column h2.header {
    font-size: 1.2rem;
    padding: 4px 4px 4px 10px;
}
.left-column h2.header {
    font-size: 1.10rem;
    padding: 4px;
    text-align: center;
}

/* --- */
.main-column p {
    margin-bottom: 0px;
}
                       
.main-column ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

.main-column li:before {
  content: "»";
  padding-right: 5px;
}

/* --- */
span.boat-name {
    font-style: italic;
    color: #ed6483;
}
