/* 
 * how to print
 * 
 * I have manually inserted a 'new-page' at the right place
 */ 

@media print {

/* https://stackoverflow.com/questions/8228088/remove-header-and-footer-from-window-print */
    @page {
        margin: 0;
    }
    body {
        margin: 1.6cm;
        font-size: 1.2rem;
    }

    /* a little more space since we can afford it */
    .section {
        margin-top: .9cm;
    }

    .new-page {
        margin-top: 3cm;
    }
}

@media screen {
    
    /* 
     * because if I don't put it inside @media screen
     * then it applies everywhere
     */

    div.section {
        margin-top: 18px;
    }
}

/* --- */

body {
    font-family: Raleway, sans-serif;
}

/* --- 
 * the email-address remains stuck in the upper right corner
 */
.fixed_header {
    background-color: #f4f4f4;
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.maintext {
    position: relative;
    top: 45px;
}


/* --- */
a {
    text-decoration: none;
    color: #81c79b;
}
a:hover {
    text-decoration: none;
    color: #30a6e5;
}

/* --- */
div.name-area .name {
    font-weight: 500;
    font-size: 125%;
}
div.name-area .title {
    font-weight: 500;
    font-size: 110%;
}

div.phone-area {
    text-align: right;
}

/* --- */
.header {
    width: 100%;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #606060;
}
h1.header {
    padding: 4px 0px 4px 20px;
    font-size: 1.3rem;
}
.main-column h2.header {
    font-size: 1.2rem;
    padding: 4px 4px 4px 10px;
}
.left-column h2.header {
    font-size: 1.10rem;
    padding: 4px;
    text-align: center;
}

/* --- */
.main-column p {
    margin-bottom: 0px;
}
                       
.main-column ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

.main-column li:before {
  content: "»";
  padding-right: 5px;
}

/* --- */
.company {
    font-size: medium; 
    font-style: italic ; 
    font-weight: 500;
}
.company-color {
    font-size: medium; 
    font-style: italic; 
    font-weight: 500; 
    color: #81c796;
}

span.boat-name {
    font-style: italic;
    color: #ed6483;
}
